/**************************************TAG SELECTORS************************************/
h1 {
color: rgb(212, 187, 148);

}
h2:hover{
color: rgb(212, 187, 148);

}



/**************************************CLASS SELECTORS************************************/

.backgroundcolor {
    background-color: rgb(255, 235, 185);
    
    } 


